
@font-face {
    font-family: 'OpenSans-Regular'; 
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
font-style: normal; 
font-weight: normal; 
   }

@font-face {
    font-family: 'OpenSans-Bold'; 
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
font-style: normal; 
font-weight: bold; 
   }



body{
font-family: 'OpenSans-Regular'; 
font-size: 14px;
background-color: #000000;
color: #fff;
}

.header{
width: 100%;

background: 
url(../files/image/header/background/Auto-from-USA_01.png);
background-size: cover;
background-repeat: no-repeat;
}

.container{
max-width:1110px;
width: 100%;
margin:auto;
}

.menu{
display: flex;
justify-content:center;
align-items: center;
height: 90px;
}

.menu-logo{
width: 15%;
height: 50px;
margin: 20px 0;
margin-right: 30px;
}

.menu-nav{
display: flex;
align-items: center;
width: 14%;
color: #fff;
margin-right: 30px;
}

.nav-burger{
padding: 22px 13px;
border: 2px solid #626367;
border-radius: 50%;
margin-right: 20px;
}

.nav-burger-bth{
width: 22px;
height: 2px;
background-color:#f7c935;
position: relative;
}

.nav-burger-bth::before{
display: block;
content: "";
width: 22px;
height: 2px;
background-color:#f7c935;
position: absolute;
top: -6px;
}

.nav-burger-bth::after{
display: block;
content: "";
width: 16px;
height: 2px;
background-color:#f7c935;
position: absolute;
top:6px;
}

.nav-burger-bth-active{
display: block;
width: 22px;
height: 2px;
background-color:none;
position: relative;
}

.nav-burger-bth-active::before{
display: block;
content: "";
width: 22px;
height: 2px;
background-color:#f7c935;
position: absolute;
transform: rotate(45deg);
transition: rotate 0.5s linear;
}

.nav-burger-bth-active::after{
display: block;
content: "";
width: 22px;
height: 2px;
background-color:#f7c935;
position: absolute;
transform: rotate(-45deg);
transition: rotate 0.5s linear;
}

.menu-text{
font-family: 'OpenSans-Regular'; 
font-size: 16px;
color: #fff;
text-decoration: none;
text-transform: uppercase;
position: relative;
}

.menu-text::before{
display: block;
content: "";
position: absolute;
background-color: #6d6d6d;
width: 2px;
height: 30px;
top: -5px;
right: -35px;
}

.menu-text:hover{
color:#f7c935;
transition: background 0.5s linear;
}

.menu-text:hover::after {
display: block;
content: "";
width: 100%;
height: 2px;
background-color: #f7c935;
position: absolute;
top: 22px;
}

.menu-news{
width: 9.7%;
}

.menu-phone{
margin-left: 30px;
margin-right: 60px;
}

.phone-nummer{
font-family: 'OpenSans-Regular';
font-size: 16px;
color: #fff;
text-decoration: none;
position: relative;
padding-left: 33px;
}

.phone-nummer:hover{
color: #f7c935;
}


.phone-nummer::before{
display: block;
content: "";
background: 
url(../files/image/header/phone/telephone.svg);
background-repeat: no-repeat;
position: absolute;
top: -3px;
width: 25px;
height: 25px;
}

.menu-image{
max-width: 160px;
width: 100%;
height: 50px;
}

.menu-lang{
padding: 0;
margin-right: 40px;
}

.enter-logo{
margin-right: 40px;
}

.menu-ru{
display: none;
list-style-type: none;
width:100%;
margin-bottom: 20px;
}

.menu-ua{
display: none;
list-style-type: none;
width:100%;
margin-bottom: 20px;
}

.menu-eng{
display: none;
list-style-type: none;
width:100%;
}

.visibility{
display: block;
}

.hide{
display: none;
}

.menu-ru-item{
display:flex;
width: 100%;
}

.lang-img{
width: 20px;
height: 20px;
border-radius: 50%;
box-shadow: 0 0 0 7px #746f6d;
margin-right: 17px;
}

.lang-text{
font-family:OpenSans-Regular;
font-size: 14px;
color: #f7c935;
margin-right: 10px;
}

.lang-btn{
transform: rotate(-90deg);
width: 10px;
height: 10px;	
}

.lang-btn-hide{
display: none;	
}

.enter-logo{
width: 25px;
height: 25px;
}

.menu-enter{
display: flex;
align-items: center;
border: 2px solid #9f9d9b;
padding: 15px 40px;
width: 7%;
height: 18px;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
border-bottom-right-radius: 50px;
border-bottom-left-radius: 50px;
}

.enter-text{
font-family: 'OpenSans-Regular'; 
text-decoration: none;
font-size: 14px;
color: #fff;
text-transform: uppercase;
margin-right: 15px;
}

.menu-footer{
display: flex;
justify-content: space-between;
padding-top: 20px;
border-top: 1px solid #4f4949;
}

.menu-item{
font-family: 'OpenSans-Regular'; 
font-size: 14px;
text-transform: uppercase;
color:#c4bdbd;
}

.menu-item-last{
font-family: 'OpenSans-Regular'; 
font-size: 14px;
text-transform: uppercase;
color:#c4bdbd;
margin-right: 20px;
}


.intro{
margin-top: 150px;
}

.intro-content{
display: flex;
justify-content: space-between;
}

.intro-info{
width: 95%;
position: relative;	
}

.intro-title{
font-family: 'OpenSans-Regular'; 
font-size: 42px;
font-weight: bold;
text-transform: uppercase;
color: #f7c935;
}

.intro-subtitle{
font-family: 'OpenSans-Regular'; 
font-size: 24px;
text-transform: uppercase;
color: #f7c935;
margin-top: 45px;
}

.intro-text{
width: 48%;
font-family: 'OpenSans-Light';
font-size: 20px;
color: #fff;
line-height: 1.8;
margin-top: 40px;
}

.intro-social{
display: flex;
flex-direction: column;
justify-content: flex-end;
width: 2.4%;
}

.intro-Facebook{
height: 25px;
margin-bottom: 30px;
	background: 
url(../files/image/header/social/Facebook.svg);
background-repeat: no-repeat;
}

.intro-instagram{
height: 25px;
margin-bottom: 40px;
	background: 
url(../files/image/header/social/instagram.svg);
background-repeat: no-repeat;
}

.intro-youtube{
height: 20px;
background: 
url(../files/image/header/social/youtube.svg);
background-repeat: no-repeat;
margin-bottom: 40px;
}

.intro-telegram{
height: 25px;
background: 
url(../files/image/header/social/telegram.svg);
background-repeat: no-repeat;
}

.intro-bottom{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	background: 
		url(../files/image/header/background/Auto-from-USA12_03_cr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 280px;
	border: 2px solid #f7c935;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: 150px;
}

.intro-contents{
	width: 40.3%;
	height: 50%;
	margin-right: 95px;
	
}

.phone-text{
	font-family: 'OpenSans-Regular';
	font-size: 16px;
	color: #fff;
	margin-bottom: 35px;
}

.phone-pay{
	text-transform: uppercase;
	color:  #f7c935;
}

.phone_form {
	width: 100%;
	height: 55px;
	background-color: #f7c935;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.user_phone{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-phone{
	width: 40%;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
	background-color: #f7c935;
	font-family: 'OpenSans-Regular';
	border: 0;
	outline: none;
	margin-left: 30px;
}

::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}
:-moz-placeholder           {color:#000000;}
:-ms-input-placeholder      {color:#000000;}

.btn_submit{
	width: 35%;
	height: 50px;
	border: 0;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #000;
	color: #f7c935;
	font-weight: bold;
	font-family: 'OpenSans-Regular';
	text-transform: uppercase;
	font-size: 16px;
	outline: none;
	margin-top: 2px;
	margin-right: 2px;
}

.calculator{
	background-image: url(../files/image/calculator/Auto-from-USA_02.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

.calculator-title{
	font-family: 'OpenSans-Regular';
	font-size: 30px;
	color: #c8a32d;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 55px;

}

.calculator-cars{
	display: flex;
	justify-content: space-between;
}

.cars-item{
	display: flex;
	flex-wrap: wrap;
	margin-right: 30px;
	max-width: 255px;
	width: 100%
}


.cars-item:nth-of-type(4){
	margin-right: 0;
}

.cars-item:nth-of-type(1) img,
.cars-item:nth-of-type(2) img
{
	height:107px;
}

.cars-item img {
	max-width: 282px;
	width:100%;
}

.cars-border{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 36px;
	border: 2px solid #f7c935;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-top: 20px;
}

.cars-border.active{
	background-color: #f7c935;
	
}

.cars-border.active
.cars-title{
	color: #000;
}

.cars-title{
	font-family: 'OpenSans-Regular';
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	}
.calculator-field{
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	margin-top: 40px;
	width: 100%;
	height: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.calculator-form{
	width: 86%;
	padding-top: 40px;
}

.calculator-content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.calculator-item-skan{
	width: 77.5%;
	height: 34px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	margin: 0 30px 20px auto;
	border:2px solid #d9d9d9;
	outline: none;
	padding-left: 15px;
	font-family: 'OpenSans-Regular';
	font-size: 14px;
}

.calculator-item-skan::-webkit-input-placeholder {color:#b3b3b3;}
.calculator-item-skan::-moz-placeholder {color:#b3b3b3;}
.calculator-item-skan:-moz-placeholder {color:#b3b3b3;}
.calculator-item-skan:-ms-input-placeholder {color:#b3b3b3;}



.calculator-btn-skan{
	width: 16.8%;
	height: 40px;
	border: 0;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #f7c935;
	color: #000;
	outline: none;
	font-family: 'OpenSans-Bold';
	font-size: 14px;
	text-transform: uppercase;
}

.calculator-sum{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.calculator-contents{
	width: 31.43%;
	height: 40px;
	margin-top: 10px;
	margin-right: 30px;
	position: relative;
}

.calculator-contents-sum{
	width: 18.4%;
	height: 40px;
	margin-top: 20px;
	margin-right: 0;
	position: relative;
}

.calculator-contents:nth-of-type(2),
.calculator-contents:nth-of-type(5),
.calculator-contents:nth-of-type(8),
.calculator-contents:nth-of-type(11),
.calculator-contents:nth-of-type(14){
	margin-right: 20px;
}

.calculator-contents:nth-of-type(3),
.calculator-contents:nth-of-type(6),
.calculator-contents:nth-of-type(9),
.calculator-contents:nth-of-type(12),
.calculator-contents:nth-of-type(15){
	margin-right: 0;
}

.calculator-contents:nth-of-type(1) input,
.calculator-contents:nth-of-type(4) input,
.calculator-contents:nth-of-type(7) input,
.calculator-contents:nth-of-type(10) input,
.calculator-contents:nth-of-type(13) input{
	padding-left: 15px;
}


.calculator-item{
	width: 86.30%;
	height: 34px;
	border:2px solid #d9d9d9;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	outline: none;
	padding-left: 35px;
	font-family: 'OpenSans-Bold'; 
	font-size: 14px;
	position: relative;
}

.calculator-item.active{
	border:2px solid #f7c935;
}

.calculator-suma{
	width: 85%;
	height: 34px;
	border:2px solid #d9d9d9;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	outline: none;
	padding-left: 20px;
	font-family: 'OpenSans-Bold'; 
	font-size: 16px;
	position: relative;
}

.calculator-suma.active{
	border:2px solid #f7c935;
}



.calculator-item::-webkit-input-placeholder {color:#b3b3b3; font-family:'OpenSans-Regular';}
.calculator-item::-moz-placeholder {color:#b3b3b3; font-family:'OpenSans-Regular';}
.calculator-item:-moz-placeholder {color:#b3b3b3; font-family:'OpenSans-Regular';}
.calculator-item:-ms-input-placeholder {color:#b3b3b3; font-family:'OpenSans-Regular';}



.calculator-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 23.4%;
	height: 40px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #d8d8d8;
	font-family: 'OpenSans-Bold';
	font-size: 16px;
	color: #000;	
}

.calculator-logo.active{
	background-color: #f7c935; 
}


.suma{
	width: 40%;
}

.calculator-img{
	opacity: 0.5;
}

.calculator-img.active{
	opacity: 1;
}



.calculator-dolar{
	font-size: 13px;
	margin-top: 3px;
	font-family: 'OpenSans-Bold';
	color: #000;
}

.calculator-info{
	width: 15px;
	height: 15px;
	position: absolute;
	background-image: url(../files/image/calculator/logo/information.svg);
	z-index: 10;
	top:13px;
	left: 15px;
}

.calculator-end{
	width: 100%;
}

.calculator-sum-text{
	font-size: 14px;
	font-family: 'OpenSans-Bold';
	color: #000;
	height: 20px;
	margin-top: 20px;
	margin-right: 20px;
}

.calculator-generator{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	margin-top: 20px;
	margin-bottom: 40px;
}

.calculator-btn-generator{
	width: 23.4%;
	height: 50px;
	background: #f7c935;
	border: 0;
	outline: none;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	font-size: 13px;
	font-family: 'OpenSans-Bold';
	text-transform: uppercase;
	text-align: left;
	padding-left: 20px;
}

.generator-img{
	position: absolute;
	right: 41%;
	margin-left: 10px;
}

/*example*/
.example-title{
	width: 66%;
	margin: 90px auto 70px auto;
	font-family: 'OpenSans-Bold';
	font-size: 30px;
	color: #f7c935;
	text-align: center;
	text-transform: uppercase;
}

.example-car{
	display: flex;
	justify-content: space-between;
}

.cars-prise-content{
	width: 31.55%;
	margin-right: 20px;
}


.cars-prise-img{
	max-width: 350px;
	width: 100%;
	height: 168px;
}

.cars-name-data{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: #f7c935;
	margin-top: 30px;
	font-family: 'OpenSans-Bold';
	font-size: 20px;
	color: #000;
}

.cars-prise{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #fff;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.prise-in-USA{
	width: 100%;
	font-family: 'OpenSans-Regular';
	font-size: 13px;
	color: #858585;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

.car-money{
	width: 100%;
	font-family: 'OpenSans-Bold';
	font-size: 23px;
	color: #000;
	text-align: center;
	padding-bottom: 7px;
	border-bottom: 1px solid #dcdcdc;
}

.car-dolar{
	font-size: 16px;
}

.car-prise-items{
	width: 49.7%;
	height: 75px;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}


.name-item{
	font-family: 'OpenSans-Regular';
	font-size: 13px;
	color: #858585;
	margin: 10px 0 5px 30px;
}

.car-money-item{
	font-family: 'OpenSans-Bold';
	font-size: 23px;
	color: #000;
	margin-bottom: 15px;
	margin-left: 30px;
}

.car-prise-items-key{
	width: 50%;
	height: 110px;
	background-color: #f7c935;
	border-bottom-left-radius: 25px;
}

.car-prise-items-autoria{
	width: 50%;
	height: 110px;	
	background-color: #dcdcdc;
	border-bottom-right-radius: 25px;	
}

.name-item-key{
	font-family: 'OpenSans-Regular';
	font-size: 13px;
	color: #333333;
	margin: 25px 0 5px 20px;	
}

.car-money-item-key{
	font-family: 'OpenSans-Bold';
	font-size: 23px;
	color: #000;
	margin-bottom: 5px;
	margin-left: 20px;
}

.slick-slide{
	margin-right: 30px;
}

.slick-prev{
	position: absolute;
	top: 60%;
	left: -100px;
	width: 43px;
	height: 3px;
	color: transparent;
	border:0;
	padding: 0;
	outline: none;
}

.slick-prev::before{
	content: "";
	display: block;
	width:20px;
	height: 3px;
	top: 6px;
	left: -3px;
	position: absolute;
	background-color: inherit;
	transform: rotate(45deg);
}

.slick-prev::after{
	content: "";
	display: block;
	width:20px;
	height: 3px;
	top: -6px;
	left: -3px;
	position: absolute;
	background-color: inherit;
	transform: rotate(-45deg);
}

.slick-next{
	position: absolute;
	top: 60%;
	right: -60px;
	width: 43px;
	height: 3px;
	color: transparent;
	border:0;
	padding: 0;
	outline: none;	
}

.slick-next::before{
	content: "";
	display: block;
	width:20px;
	height: 3px;
	top: 6px;
	left: 27px;
	position: absolute;
	background-color: inherit;
	transform: rotate(135deg);
}

.slick-next::after{
	content: "";
	display: block;
	width:20px;
	height: 3px;
	top: -6px;
	left: 27px;
	position: absolute;
	background-color: inherit;
	transform: rotate(-135deg);
}





































